/******************************************
/* CSS
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Roboto:wght@100;300;400;500;700&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: url(../img/bar.jpg);
  background-size: cover;
}

.search {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  gap: 10px;
}

#drinks-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 50px 10px;
 
}

.instructions {
  margin-bottom: 0;
}


.card {
  background: rgb(255, 208, 212);
  width: 300px;
  padding: 20px;
  border-radius: 8px;
display: none;
  transform: scale(.8);
  flex-direction: column;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out .1s;


}

.card.active {
  position: absolute;
  transform: scale(1.1);
  transition: all ease-in-out .5s;
  z-index: 1;
display: block;
}


/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);

}

h1 {
  font-family: 'Beau Rivage', cursive;
  color: white
}

h2 {
  margin-bottom: 0;

}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/